<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    <h1>Create New Post</h1>
    <form action='/add  ' method='POST'>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" required><br>
        <label for="post">Your post:</label><br>
        <input type="text" id="post" name="post" required><br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

<html>
